* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

}


body {
    text-align: center;
    font-family: sans-serif, Times, "New Roman", "Cambria", Garamond;
    transition: 1.2s;


}




.head{

white-space: pre-line;
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
background-color: #0b0040;
position: fixed;
width: 100%;
z-index: 100;
outline: none;
}


.navbar{
    font-size: 20px;
    text-decoration: none;
    
}

.square1{
    width: 250px;
    height: 400px;
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 10px;
    padding-top: 30px;
   
   
}

.square2{
    width: 250px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.square3{
    width: 250px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 10px;
    padding-top: 30px;
    color:rgb(3, 3, 3)
}




.container2 {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 300px;

}



img {
    background-color: blue;
    background: url(quiz.jpg);  
    height: 65%;
    width: 95%;
    
 

    
}

p{
    color:rgb(0, 0, 0);

}


.logo p{
    padding: 25px;
}

