* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif, Times, "New Roman", "Cambria", Garamond;
    transition: 1.2s;

}




.header {
    white-space:pre-line;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background: url(Captura\ de\ tela\ 2023-05-06\ 155405.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.head {
    white-space:pre-line;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #0b0040;
    position: fixed;
    width: 100%;
    z-index: 100;
    outline: none;


}

.navbar {
    display: flex;
    margin-right: 10px;


}

.logo {
    margin-left: 20px;
    color: #fff2f2;
    text-decoration-line: none;
    

}



.navbar a {
    display: block;
    padding: 23px 20px;
    color: rgb(235, 238, 241);
    text-decoration: none;




}

.navbar a:hover {
    background-color: rgb(209, 0, 0);


}




.title {
    
    white-space:pre-line;

    font-size: 50px;
    font-weight: 600px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}


h1 {

    margin-top: 10%;
    font-size: 40px;

}

p {
     border: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    outline: none;
}

.logo p{
    font-size: 25px;
    text-decoration: none;

   
}



.title h3{
    margin-top: 80px;

}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 3px solid rgb(230, 22, 22);
    color: aliceblue;
    text-decoration: none;
    background: rgb(0, 6, 92);



}

.btn:hover {
    background: none;


}

.btn-home {
    display: flex;

}

.btn-home a {
    margin: 0 10px;
}

.content {
    white-space:pre-line;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.acont {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cf0000;


}




.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 5, 58, 0.932);

}





.contato {
    white-space:pre-line;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b0040;



}



.ppt {
    margin-bottom: 30%;
    margin-left: 50%;
}

.main p {
    white-space:pre-line;
    color: rgb(18, 84, 206);


}

.contato p {
    white-space:pre-line;
    color: rgb(240, 240, 240);





}


.sau {

    white-space:pre-line;
    padding: 0px;
    top: 0px;
    margin-left: 0px;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);




}


.sit {
    color: #fff2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position-y: 50px;
    margin-right: 20px;
    bottom: 45px;
    background-size:cover;
    text-align: center;
    background: url("login11.png");
    white-space:pre-line;
  
}




.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border: 2px solid #535bb8db;
margin-top: 40px;

    white-space:pre-line;


}

.box-container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    width: 15rem;
    height:500px;
    color: aliceblue;
    background-color: rgb(0, 0, 73);
    border-color: rgb(242, 243, 250);
    text-align: center;
    border-radius: 4;
    margin: 2rem;
    padding-left: 50px;
    white-space:pre-line;



}

.box-container .box i {
    height: 2rem;
    width: 3rem;
    text-align: centr;
    border-radius: 50%;
    color: aliceblue;
    font-size: 2rem;

}


.box-container .box h3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space:pre-line;
}



.cx-container .cx h4 {
    font-size: 15px;
    color: rgb(231, 231, 235);


}



.cx-container .cx{
    display: flex;
   padding-top: 50px;
   margin: 15px;

}

.box-container .box p {
    padding: 30px;
    padding-left: 10px;
    font-size: 16px;
    color: #fff2f2;
    padding-bottom: 20px;
   
}



.box img {
    display: flex;
    width: 80%;
    height: auto;


}



.about {
    background: rgb(7, 0, 75);
    white-space:pre-line;


}

.welcome {
    height: 100vh;
    padding-top: 20px;
    background: url(Captura\ de\ tela\ 2023-05-06\ 180735.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 120%;
    text-align: center;
    margin-bottom: 20px;
    white-space:pre-line;
}

.contact {
    padding-top: 20px;
    background-color: rgba(58, 1, 1, 0.856);
    padding-bottom: 0;
    background: url(fobymagazine.png);
    background-repeat: no-repeat;
    background-size: 100%;
    white-space:pre-line;


}

@media (max-width: px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 120vh;



    }

    .navbar {
        display: none;

    }


}

.bb {
    font-size: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    margin-right: px;

}



.quadrado {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: blue;

}

.login {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    color: rgb(255, 243, 243);
    margin: 50px 0;
    padding: 50px;
    border-bottom: 2px solid rgb(255, 255, 255);


}

.login label {
    position: absolute;
    top: 100%;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    pointer-events: none;
}





.cx{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: px;
    height: 500px;
    width: 300px;
}

.cx-container {
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #d30000; 

    padding: 15px;



}

.cx-container .title {
    font-size: 20px;
}


.pic {
    display: flex;
    background: url(image.png);
    background-repeat: no-repeat;
    background-size: 15%;
}

img {
    background-color: blue;
    background: url(quiz.jpg);  

    
    height: 80%;
    width: 95%;
 

    
}

p{
    color:rgb(0, 0, 0)
}




